---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://search2ai.online/github" class="gpt-title">Gemini</a>
    <a href="https://search2ai.online/github" class="gpt-subtitle">Online</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://search2ai.online/github"> Gemini API & Search2AI.</a>
    <a href="https://search2ai.online/github" class="font-bold">Source code</a>
  </p>
</header>

